@font-face
{
font-family: "Amble";

src:url('webfont/Amble-Bold-webfont.woff');
src:url('webfont/Amble-Bold-webfont.woff?'iefix) format('woff'),
    url('webfont/Amble-Bold-webfont.svg') format('svg'),
    url('webfont/Amble-Bold-webfont.ttf') format('truetype'),
    url('webfont/Amble-Bold-webfont.eot') format('embedded-opentype')

    font-weight: normal;
    font-style: normal;

}
@font-face 
{
    font-family: 'droid_sansregular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-webfont.woff') format('woff'),
         url('DroidSans-webfont.ttf') format('truetype'),
         url('DroidSans-webfont.svg#droid_sansregular') format('svg');
         font-weight: normal;
        font-style: normal;
 }

/*le corps de chaque page*/
body
{ 
    background:url('image/fond_jaune.png');
    font-family: Amble,"droid_sansregular",Georgia, arial,"arial black", "times new roman", serif; 
}

#bloc_page
{
  display: flex;
  flex-direction: column;  
  justify-content: center;
  width: 70%;
  height: 70%;
  padding: auto;
  text-justify: auto;  
  margin: auto;
}

body header, body section
{
   background:url('image/separateur.png') repeat-x bottom; 
   padding-bottom: 10px;
}

h1
{
    text-align: center;
}

ul
{
list-style-position: inside;
list-style-type: none;
}

/* le header */
header
{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
   width: 100%;
    height:10%;*/
}

/*le logo dans le header*/
#logo img
{
    width: 30%;

}

/*info sur la session*/
.compte
{
    display: flex;
    justify-content: flex-end;
    align-items: center;   
    width: 100%;    
    
}

.utilisateur
{
  
    font-size: 1em;

}

.compte img
{
    width: 10%;
    height: 10%;    
}


#menu 
{
   
list-style-type: none;
}

#menu a
{
display: block;
color: grey;
text-decoration: none;
}

.sousMenu
{
    display: none;
}

#menu:hover .sousMenu{
    display: block;
}

/*section*/
section
{
    display: flex;
    flex-direction:column;
    flex_wrap: wrap;
    width: 100%;
    padding-top: 10px;

}

/*page index*/

.acteur 
{   display :flex;
    border :2px solid black;
    justify-content: space-around;

    height: 30%;
    border-radius: 5px;   
    
}

/*logo de l'acteur dans index.php*/
.logoActeur 
{
    width:20% ;

}

.logoActeur img
{
    width: 90%;
    
   margin-left: 5px;
   border-radius: 3px;
}

/*desxcription de l'acteur dans index.php*/
.descriptionActeur

{
    display: flex;   
    flex-direction: column;
    border: 1px solid black;
    border-radius: 3px;
    
    width: 60%;
    padding-left: 20px;
}

/*bouton lire la suite */
.bouton
{
   
    align-self: flex-end;
    text-align: center;
    height: 30%;
    width: 25%;
    font-size: 1em;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin-right: 2px;
    margin-bottom: 2px;    
    background: url('image/fond_degraderouge.png') repeat-x;
}

.bouton img
{
    border: 0;

}



/*nombre de commentaires dans index.php*/
.post
{
    display: inline;
    flex-wrap: wrap;
   align-self: center; 
   width: 25%;   
   text-align: center;
   
}
.post img
{
    width:20%;
    height: 20%;
}


.commentaire
{
    display: flex;
    flex-direction: column;
   
}


/*Section commentaire de la page acteur*/
.postActeur
{
  display: flex;
  justify-content: space-between;  
   font-size: 1.5em;
   width: 100%;  
}

.comsActeur
{
   width: 30%;
   height: 27px;
   border : 1px solid black; 
   background: url('image/fond_degraderouge.png') repeat-x;
   border-radius: 5px;
   text-align: center;
   align-self: center;
  
}
.commentaire_user
{
    display: flex;
   
    text-align: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 65%;
    height: 100px;
    margin: auto;
}
.user{
width:60%;

}

.likeActeur
{
    display: flex;
    background: url('image/fond_degraderouge.png') repeat-x;
    border-radius: 5px;
    justify-content: space-around;
    border : 1px solid black;
    width: 20%;
    height: 27px;
    align-self: center;

}
.likeActeur img
{
    
    border: none;
    height: 30px;
    opacity: 0.9;
}

/*page acteur*/
.logo
{
    display: flex;
    justify-content: center;


}
.logo img
{
    width: 30%;

}
.description
{
    width: 75%;
    margin: auto;
}

/*like et dislike dans acteur*/
#pouce
{
    display: flex;
    justify-content:space-around;
    width: 50%;
    
    margin: auto;
}
#pouce img
{

    
    width: 100px;
    border: none;
    opacity: 0.9;
}



.textarea
{
    width: 300px;
    height: 80px;
}

/*les formulaires avec ID=form*/
#form label
{
    display: block;
    width: 250px;
    float: left;
}

/*retour à la liste des acteurs*/
.retour
{
    align-self: flex-end;
    text-align: right;
}

/*footer*/
footer
{
    text-align: center;
}

/*message d'alerte*/
.alert-success
{
    color: green;
    font-size: 1.5em;
    align-self: center;
}

.alert-failure
{
    color: red;
    font-size: 1.5em;
    align-self: center;

}



@media all and (max-width: 1024px) /*pour les écrans <
px*/
/*info sur la session*/
.compte
{
    display: flex;
    justify-content: flex-end;
    width: auto;
    
    
}

.utilisateur
{
    align-self: flex-start;
    font-size: 0.5em;
    
}

.compte img
{
    width:30%;
}
/* nombre de commentaire dans index*/
.post
{
display: none;
}
/*desxcription de l'acteur dans index.php*/
.descriptionActeur{
    width: 80%;
    margin: auto;
}
.logoActeur
{
    width: 80%;
}
.bouton
{
    width: auto;
}
.bouton img
{
    display: none;
}


/*taille du texte dans acteur*/
.likeActeur
{
    width: auto;
    font-size: auto;
    margin-bottom: 0px;
}
.likeActeur img
{
    width: 25px;
    height: 25px;
}
.comsActeur
{
    width: auto;
    font-size: auto;
}

/*commentaire dans acteur*/
.com
{

width: 25%;
}


}
@media all and (max-device-width: 829px) /*on cible les smartphones*/

{
.acteur 
{   display :flex;
    flex-direction: column;
    align-items: center;
    border :2px solid black;
    border-radius: 5px;
    ;

    /*height: 30%;
    ;*/

}
.descriptionActeur
{
    width: 80%;

}
/*logo de l'acteur dans index.php*/
.logoActeur 
{
    display: flex;
    justify-content: center;
    width:80% ;
    
   

   
    

}
.logoActeur img
{
    width: 80%;
    
   margin: auto;
   border-radius: 3px;
}
.bouton
{
    align-self: center;
    width: auto;
}


}
.bouton img
{
    display: none;
}
/*taille du texte dans acteur*/
.likeActeur
{
    font-size: 0.8em;
    margin-bottom: 0px;
}
.likeActeur img
{
    width: 30px;
    height: 30px;
}
.comsActeur
{
    font-size: 0.8em;
}
.com
{

width: 25%;
}


