@font-face
{
font-family: "Amble";

src:url('webfont/Amble-Bold-webfont.woff');
src:url('webfont/Amble-Bold-webfont.woff?'iefix) format('woff'),
    url('webfont/Amble-Bold-webfont.svg') format('svg'),
    url('webfont/Amble-Bold-webfont.ttf') format('truetype'),
    url('webfont/Amble-Bold-webfont.eot') format('embedded-opentype')

    font-weight: normal;
    font-style: normal;

}
@font-face 
{
    font-family: 'droid_sansregular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-webfont.woff') format('woff'),
         url('DroidSans-webfont.ttf') format('truetype'),
         url('DroidSans-webfont.svg#droid_sansregular') format('svg');
         font-weight: normal;
        font-style: normal;
 }

/*le corps de chaque page*/
body

{ 
    background:url('image/fond_jaune.png');
    font-family: Amble,"droid_sansregular",Georgia, arial,"arial black", "times new roman", serif; 
    margin: auto;
    text-align: center;
    width: 70%;
    position: relative;
 
}
#logoCentre #logo 
{
    margin:auto;   
    width: 100%;
    height: 100%;
}
#logoCentre #logo img
{
    width: 100%;
    max-width: 180px;
    height:auto;
}
#logoCentre nav
{
    border: 0px;
    height: auto;
}
/*#bloc_page
{
  display: flex;
  flex-direction: column;  
  justify-content: center;
  width: 70%;
  height: 70%;
  padding: auto;
  text-justify: auto;
  margin: auto;
  position: relative;
  box-sizing: border-box;
}*/

body header, body section
{
   background:url('image/separateur.png') repeat-x bottom; 
   padding-bottom: 10px;
}

h1
{
    text-align: center;
}
h2
{
    text-decoration: underline;
    color: red;
}


/* le header */
header

{   
    
    margin: auto;
    position: fixed;
    width: inherit;
    height: 13.1em;
    }
nav
{
    display: flex;
    border: 3px solid black;
    border-radius: 5px;
    justify-content: space-between;
    width: 100%;
    height: 13.1em;
    align-items: center;
     }

  ul
{
list-style-position: inside;
list-style-type: none;
}


/*le logo dans le header*/
header img
{
    width: 100%;
    max-width: 100px;
    height: auto;
}
#logo 
{
   margin-left: 15px;
}
.compte
{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    margin-right: 15px;     
}
#menu 
{   
display: flex;
flex-direction: column;
marging: auto;}

nav ul li a
{
display: block;
color: black;
text-decoration: none;
}
.sousMenu
{
    display: none;
}

#menu:hover .sousMenu{
    display: block;
}
/*section*/
section
{
    width: 100%;
    height:50vh;
    display: flex;
    flex-direction:column;
    flex_wrap: wrap-reverse;
    position: absolute;
    top: 250px;
    bottom: 250px;
    overflow: scroll;
    margin-bottom: 25px;
    border: 3px solid black;
    border-radius: 5px;  
}
section li
{
    font-size: 1.4em;

}
.visible
{
    padding-top: 5px;
    border: 3px solid black;
    overflow: sticky;

    
   
}

/*page index*/

.acteur 
{   display :flex;
    justify-content: space-around;
    border: 3px solid black;
    border-radius: 5px;  
    position: relative;    
}
.acteur h2
{
    text-decoration: none;
    color: black;
    font-size: 1em;
}


/*page acteur*/
.detailActeur
{   display :flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid black;
    border-radius: 5px;  
    position: relative;    
}
.detailActeur h2
{
    text-decoration: none;
    color: black;
    font-size: 1em;
}
/*retour à la liste des acteurs*/
.retour
{

    position: absolute;
    bottom: 0px;
    right: 10px;
    font-size: 1em;
}


.description
{
    text-align: center;
     text-justify: auto;   
     width: 50%;  
}
/*logo de l'acteur dans index.php*/
.logoActeur 
{

align-self: center;
}
.logoActeur img
{
    width:100% ;
    max-width:150px;
    height: auto;    
   margin : auto;
   padding: auto;
   border: 0;
   opacity: 0.8;
}
.laisserUncoms input
{
    height: 27px;
    border-radius: 5px;
}
/*desxcription de l'acteur dans index.php*/
.descriptionActeur

{
    display: flex;   
    flex-direction: column;
    border: 3px solid black;
    border-radius: 3px; 
    width: 50%;   
    position: relative;
   }

/*bouton lire la suite */
.bouton
{   
   align-self: flex-end;
   position: absolute;
   bottom: 5px;
   right: 5px;
    text-align: center;
    height: 30%;
    width: 25%;
    font-size: 1em;
    text-decoration: none;
    color: white;
    border-radius: 5px;  
    background: url('image/fond_degraderouge.png') repeat-x;
}
.bouton img
{
    border: 0;

}
/*nombre de commentaires dans index.php*/
.post
{
    display: inline;
    flex-wrap: wrap;
   align-self: center; 
   text-align: center;
   width: 25%;   
   text-align: center;   
}
.post img
{
    width: 100%;
    max-width:50px;
    height: 50px;
}
.commentaire
{
    display: flex;
    flex-direction: column;
   
}
/*Section commentaire de la page acteur*/
.postActeur
{
  display: flex;
  justify-content: space-around;  
   width: 100%; 
   margin-top: 10px; 
}
.likeActeur
{
    display: flex;
    background: url('image/fond_degraderouge.png') repeat-x;
    border-radius: 5px;
    justify-content: space-around;
    border : 1px solid black;
    width: 30%;
    max-width: 150px;
    height: 27px;
    align-self: center;

}
.likeActeur img
{
    
    border: none;
    max-width:auto;
    height: 10px;
    opacity: 0.9;
}
.comsActeur
{
    width: 30%;
    max-width: 150px;
   height: 27px;
   font-size: auto;
   border : 1px solid black; 
   background: url('image/fond_degraderouge.png') repeat-x;
   border-radius: 5px;
   text-align: center;
   align-self: center; 
}
.commentaire_user
{
    display: flex;
    justify-content: center;    
    border: 1px solid black;
    align-items: center;    
    border-radius: 5px;
    width:50%;
    height:auto;
    margin: auto;
}
.user{
width:60%;
margin: auto;

}
.com{
    width:100%;
    max-width: 150px;
    font-size: auto;
    margin: auto;
}
/*page acteur*/
.logo
{
    display: flex;
    justify-content: center;

}
.logo img
{
    width: 100%;
    max-width: 300px;
    height: auto;
}
.description
{
    width: 75%;
    margin: auto;
}
/*like et dislike dans acteur*/
#pouce
{
    display: flex;
    justify-content:space-around;
    width: 100%;    
    margin: auto;
}
#pouce img
{   
    width: 100%;
    max-width: 100px;
    height: 100px;
    border: none;
    opacity: 0.7;
}
.textarea
{
    width: 300px;
    height: 80px;
}

/*les formulaires avec ID=form*/
#form label
{
    display: block;
    width: 250px;
    float: left;
}



/*footer*/
footer

{
    padding-top: 5px;
    width:inherit;
    position :fixed;
    font-size:0.8em;
    height:10%;
    bottom: 0%;
    margin-bottom: 3px;
    border: 3px solid black;
    border-radius: 5px;

}

/*message d'alerte*/
.alert-success
{
    color: green;
    font-size: 1.5em;
    align-self: center;
}

.alert-failure
{
    color: red;
    font-size: 1.5em;
    align-self: center;

}


@media all and (max-width: 1024px) {/*pour les écrans <1024
px*/
/*info sur la session*/
.post
{
    display:none;
}
.compte
{
    display: flex;
    justify-content: flex-end;
    width: auto;
    
    
}

.utilisateur
{
    align-self: center;
    font-size: auto;
    
}

.compte img
{
    width: auto;
    max-width:90px;
    height: auto;
}

/*desxcription de l'acteur dans index.php*/
.descriptionActeur{
    width: 80%;
    margin: auto;
}
.logoActeur
{
    width: 80%;
}
.bouton
{
    width: auto;
}
.bouton img
{
    display: none;
}


/*taille du texte dans acteur*/
.postActeur
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
   width: 100%;  
}
.likeActeur
{
    
    width: 30%;
    max-width: 150px;
    height: 27px;
    align-self: center;

}
.likeActeur img
{
    
    border: none;
    max-width:auto;
    height: 10px;
    opacity: 0.9;
}
.comsActeur
{
    width:auto;
    font-size: auto;
}

/*commentaire dans acteur*/
.com
{

 width:auto;
font-size: auto;
}


}
/*@media all and (max-device-width: 900px) {
    /*taille du texte dans acteur*/
.likeActeur
{
    width: auto;
    font-size: 0.5;
    margin-bottom: 0px;
}
.likeActeur img
{
    max-width: 100%;
    height: auto;
}
.comsActeur
{
    width:auto;
    font-size: 0.5;
}*/
}